<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center py-2 pt-4" style="background-color: #343a40;">
    <a href="http://www.autoingroup.com" target="_blank" class="mr-5 text-white" style="text-decoration:none;margin-right:10px;">회사소개</a>
    <a href="/docs/terms" class="mr-5 text-white" style="text-decoration:none;margin-right:10px;">이용약관</a>
    <a href="/docs/privacy" class="mr-5 text-white" style="text-decoration:none;margin-right:10px;">개인정보 처리방침</a>
  </div>
  <div class="text-center p-3" style="background-color: #343a40">
    <a
      href="http://Autoinven.com/"
      style="text-decoration: none; font-family: 'nanum-r'; color: white"
      >Copyright © <span id="copyright_year"></span> AUTOINVEN. All rights reserved.</a
    >

    <div style="margin-top: 11px;display:none;">
      <a
        class="btn-footer btn-social mx-2"
        href="https://twitter.com/Autoinven"
        target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        class="btn-footer btn-social mx-2"
        href="https://www.facebook.com/autoinven"
        target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        class="btn-footer btn-social mx-2"
        href="https://www.instagram.com/autoininc"
        target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<script>
  $('#copyright_year').html(new Date().getFullYear());
</script>
