<!DOCTYPE html>
<html lang="<%= __('locale') %>">
  <head>
    <meta charset="UTF-8" />
    <%- include('../head') %>
    <link rel="stylesheet" href="/css/signin.css" />
    <title>개인정보처리방침</title>
  </head>

  <body>
    <header><%- include('../partial/navbar') %></header>
    <div class="inner" style="display:block;height:auto;">
      <div style="max-width:96%;width:800px;margin:50px auto 100px">

        <p class=a align=center style='font-weight:bold;text-align:center;word-break:normal'><b><span
        lang=ZH-CN style='font-size:12.0pt;line-height:103%;font-family:"Malgun Gothic",sans-serif;font-weight:bold;'>개인정보
        처리방침</span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>주식회사
        오토인</span><span style='font-family:"Malgun Gothic",sans-serif'>(<span
        lang=ZH-CN>이하</span> &quot;<span lang=ZH-CN>회사</span>&quot;<span lang=ZH-CN>라 함</span>)<span
        lang=ZH-CN>은 개인정보보호법</span>, <span lang=ZH-CN>통신비밀보호법</span>, <span lang=ZH-CN>전기통신사업법
        등 관련 법령상의 개인정보보호 규정을 준수하며</span>, <span lang=ZH-CN>관련 법령에 의거한 개인정보처리방침을 정하여 이용자
        권익 보호에 최선을 다하고 있습니다</span>. </span><span style='font-family:"Arial Unicode MS",serif'>“</span><span
        lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사</span><span
        style='font-family:"Arial Unicode MS",serif'>”</span><span lang=ZH-CN
        style='font-family:"Malgun Gothic",sans-serif'>의 개인정보처리방침은 다음과 같은 내용을 담고 있습니다</span><span
        style='font-family:"Malgun Gothic",sans-serif'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
         style='border-collapse:collapse;border:none'>
         <tr style='height:387.45pt'>
          <td width=559 style='width:419.5pt;border:solid black 1.0pt;padding:1.4pt 5.1pt 1.4pt 5.1pt;
          height:387.45pt'>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>1. <span
          lang=ZH-CN>개인정보의 수집 및 수집방법에 관한 안내</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>2. <span
          lang=ZH-CN>개인정보의 수집 및 이용목적</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>3. <span
          lang=ZH-CN>개인정보의 공유 및 제</span>3<span lang=ZH-CN>자 제공</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>4. <span
          lang=ZH-CN>개인정보의 취급위탁</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>5. <span
          lang=ZH-CN>개인정보의 보유 및 이용기간</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>6. <span
          lang=ZH-CN>개인정보 파기절차 및 방법</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>7. <span
          lang=ZH-CN>이용자 및 법정대리인의 권리와 그 행사방법</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>8. <span
          lang=ZH-CN>개인정보 자동 수집 장치의 설치</span>/<span lang=ZH-CN>운영 및 거부에 관한 사항</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>9. <span
          lang=ZH-CN>개인정보의 기술적</span>/<span lang=ZH-CN>관리적 보호 대책</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>10. <span
          lang=ZH-CN>개인정보관리책임자의 연락처</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>11. <span
          lang=ZH-CN>기타</span></span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>12. <span
          lang=ZH-CN>고지의 의무</span></span></p>
          </td>
         </tr>
        </table>
        
        <p class=MsoNormal><span style='font-size:1.0pt'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>1. <span
        lang=ZH-CN>개인정보의 수집 및 수집방법에 관한 안내</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>가</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>수집하는 개인정보의 항목</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>첫째</span><span
        style='font-family:"Malgun Gothic",sans-serif'>, <span lang=ZH-CN>회사는 회원가입</span>,
        <span lang=ZH-CN>각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 개인정보를 수집하고 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>1) <span
        lang=ZH-CN>회원가입 시 수집하는 항목</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'> - <span
        lang=ZH-CN>필수항목</span>: <span lang=ZH-CN>이름</span>, ID, <span lang=ZH-CN>비밀번호</span>,
        <span lang=ZH-CN>휴대폰번호</span>, <span lang=ZH-CN>이메일 외</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>둘째</span><span
        style='font-family:"Malgun Gothic",sans-serif'>, <span lang=ZH-CN>서비스 이용과정이나 사업처리
        과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- IP Address, <span
        lang=ZH-CN>쿠키</span>, <span lang=ZH-CN>방문 일시</span>, <span lang=ZH-CN>서비스 이용 기록</span>,
        <span lang=ZH-CN>불량 이용 기록</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>셋째</span><span
        style='font-family:"Malgun Gothic",sans-serif'>, <span lang=ZH-CN>부가 서비스 및 맞춤식 서비스
        이용 또는 이벤트 응모 과정에서 해당 서비스의 이용자에 한해서만 아래와 같은 정보들이 수집될 수 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>개인정보 추가 수집에 대해 동의를 받는 경우</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>나</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>개인정보 수집방법</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사는 다음과
        같은 방법으로 개인정보를 수집합니다</span><span style='font-family:"Malgun Gothic",sans-serif'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>홈페이지</span>, <span lang=ZH-CN>고객센터 문의</span>, <span lang=ZH-CN>상담 게시판</span>,
        <span lang=ZH-CN>이메일</span>, <span lang=ZH-CN>이벤트 응모</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>2. <span
        lang=ZH-CN>개인정보의 수집 및 이용목적</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>가</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>서비스 제공에 관한 계약
        이행</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>콘텐츠 제공</span><span
        style='font-family:"Malgun Gothic",sans-serif'>, <span lang=ZH-CN>특정 맞춤 서비스 제공</span>,
        <span lang=ZH-CN>본인인증</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>나</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>회원관리</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회원제 서비스
        이용에 따른 본인 확인</span><span style='font-family:"Malgun Gothic",sans-serif'>, <span
        lang=ZH-CN>본인의 의사확인</span>, <span lang=ZH-CN>고객문의에 대한 응답</span>, <span
        lang=ZH-CN>새로운 정보의 소개 및 고지사항 전달</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>다</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>서비스 개발 및 마케팅</span></span><span
        style='font-family:"Arial Unicode MS",serif'>·</span><span lang=ZH-CN
        style='font-family:"Malgun Gothic",sans-serif'>광고에의 활용</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>서비스 개발
        및 맞춤 서비스 제공</span><span style='font-family:"Malgun Gothic",sans-serif'>, <span
        lang=ZH-CN>통계학적 특성에 따른 서비스 제공 및 광고 게재</span>, <span lang=ZH-CN>서비스의 유효성 확인</span>,
        <span lang=ZH-CN>이벤트 및 광고성 정보 제공 및 참여기회 제공</span>, <span lang=ZH-CN>접속빈도 파악</span>,
        <span lang=ZH-CN>회원의 서비스이용에 대한 통계</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>라</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>콘텐츠 구현</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>서비스 활용
        현황</span><span style='font-family:"Malgun Gothic",sans-serif'>, <span
        lang=ZH-CN>제</span>3<span lang=ZH-CN>자와의 커뮤니케이션 내용 등 서비스 이용 기록의 게시</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>마</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>고용 및 취업동향 파악을
        위한 통계학적 분석</span>, <span lang=ZH-CN>개인 맞춤화 서비스 고도화를 위한 데이터 분석</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>3. <span
        lang=ZH-CN>개인정보의 공유 및 제</span>3<span lang=ZH-CN>자 제공</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>가</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>회사는 이용자들의 개인정보를</span>
        &quot;2. <span lang=ZH-CN>개인정보의 수집목적 및 이용목적</span>&quot;<span lang=ZH-CN>에서 고지한
        범위 내에서 사용하며</span>, <span lang=ZH-CN>이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의
        개인정보를 외부에 공개하지 않습니다</span>. <span lang=ZH-CN>다만</span>, <span lang=ZH-CN>아래의 경우에는
        예외로 합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>이용자가 외부 제휴사의 서비스를 이용하기 위하여 개인정보 제공에 사전에 직접 동의한 경우</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>법령의 규정에 의거하거나</span>, <span lang=ZH-CN>수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의
        요구가 있는 경우</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>4. <span
        lang=ZH-CN>개인정보의 취급위탁</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사는 서비스
        향상을 위해서 필요한 업무 중 일부를 외부업체에 위탁하고 있으며</span><span style='font-family:"Malgun Gothic",sans-serif'>,
        <span lang=ZH-CN>관계 법령에 따라 위탁계약 시 개인정보를 안전하게 취급하도록 필요한 사항을 규정하고 관리</span></span><span
        style='font-family:"Arial Unicode MS",serif'>·</span><span lang=ZH-CN
        style='font-family:"Malgun Gothic",sans-serif'>감독하고 있습니다</span><span
        style='font-family:"Malgun Gothic",sans-serif'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사의 개인정보
        위탁처리 기관 및 위탁업무 내용은 아래와 같습니다</span><span style='font-family:"Malgun Gothic",sans-serif'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
         style='border-collapse:collapse;border:none'>
         <tr style='height:24.1pt'>
          <td width=164 style='width:122.85pt;border:solid black 1.0pt;padding:1.4pt 5.1pt 1.4pt 5.1pt;
          height:24.1pt'>
          <p class=a align=center style='text-align:center;word-break:normal'><b><span
          lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;color:blue'>수탁업체</span></b></p>
          </td>
          <td width=247 style='width:185.1pt;border:solid black 1.0pt;border-left:none;
          padding:1.4pt 5.1pt 1.4pt 5.1pt;height:24.1pt'>
          <p class=a align=center style='text-align:center;word-break:normal'><b><span
          lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;color:blue'>위탁업무</span></b></p>
          </td>
          <td width=149 style='width:111.5pt;border:solid black 1.0pt;border-left:none;
          padding:1.4pt 5.1pt 1.4pt 5.1pt;height:24.1pt'>
          <p class=a align=center style='text-align:center;word-break:normal'><b><span
          lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;color:blue'>보유 및 이용기간</span></b></p>
          </td>
         </tr>
         <tr style='height:24.1pt'>
          <td width=164 style='width:122.85pt;border:solid black 1.0pt;border-top:none;
          padding:1.4pt 5.1pt 1.4pt 5.1pt;height:24.1pt'>
          <p class=a align=center style='text-align:center;word-break:normal'><span
          style='font-family:"Malgun Gothic",sans-serif;color:blue'>Amazon Web Services</span></p>
          </td>
          <td width=247 style='width:185.1pt;border-top:none;border-left:none;
          border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:1.4pt 5.1pt 1.4pt 5.1pt;
          height:24.1pt'>
          <p class=a align=center style='text-align:center;word-break:normal'><span
          lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;color:blue'>데이터보관 및 전산시스템
          운용관리</span></p>
          </td>
          <td width=149 style='width:111.5pt;border-top:none;border-left:none;
          border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:1.4pt 5.1pt 1.4pt 5.1pt;
          height:24.1pt'>
          <p class=a align=center style='text-align:center;word-break:normal'><span
          lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;color:blue'>서비스 제공기간
          또는 위탁 계약 종료시</span></p>
          </td>
         </tr>
        </table>
        
        <p class=MsoNormal><span style='font-size:1.0pt'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>5. <span
        lang=ZH-CN>개인정보의 보유 및 이용기간</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>이용자의
        개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다</span><span style='font-family:
        "Malgun Gothic",sans-serif'>. <span lang=ZH-CN>단</span>, <span lang=ZH-CN>다음의 정보에
        대해서는 아래의 이유로 명시한 기간 동안 보존합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>가</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>회사 내부 방침에 의한 정보보유
        사유</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>부정이용기록</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 이유</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: <span lang=ZH-CN>부정 이용 방지</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 기간</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: 1<span lang=ZH-CN>년</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>나</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>관련법령에 의한 정보보유
        사유</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>상법</span><span
        style='font-family:"Malgun Gothic",sans-serif'>, <span lang=ZH-CN>전자상거래 등에서의 소비자보호에
        관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다</span>.
        <span lang=ZH-CN>이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>1) <span
        lang=ZH-CN>계약 또는 청약철회 등에 관한 기록</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>근거 법령</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: <span lang=ZH-CN>전자상거래 등에서의 소비자보호에
        관한 법률</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 기간</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: 5<span lang=ZH-CN>년</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>2) <span
        lang=ZH-CN>소비자의 불만 또는 분쟁처리에 관한 기록</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>근거 법령</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: <span lang=ZH-CN>전자상거래 등에서의 소비자보호에
        관한 법률</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 기간</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: 3<span lang=ZH-CN>년</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>3) <span
        lang=ZH-CN>본인확인에 관한 기록근거 법령</span> : <span lang=ZH-CN>정보통신망 이용촉진 및 정보보호 등에 관한 법률</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 기간</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: 6<span lang=ZH-CN>개월</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>4) <span
        lang=ZH-CN>웹사이트 방문기록</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>근거 법령</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: <span lang=ZH-CN>통신비밀보호법</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 기간</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: 3<span lang=ZH-CN>개월</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>5) <span
        lang=ZH-CN>대금 결제 및 재화 등의 공급에 관한 기록</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>근거 법령</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: <span lang=ZH-CN>전자상거래 등에서의 소비자보호에
        관한 법률</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 기간</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: 5<span lang=ZH-CN>년</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>6) <span
        lang=ZH-CN>장부 세금계산서</span>, <span lang=ZH-CN>수입세금계산서</span>, <span lang=ZH-CN>영수증
        등</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>근거 법령</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: <span lang=ZH-CN>부가가치세법</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>보존 기간</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: 5<span lang=ZH-CN>년</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>6.
        <span lang=ZH-CN>개인정보 파기절차 및 방법</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다</span><span
        style='font-family:"Malgun Gothic",sans-serif;color:blue'>. <span lang=ZH-CN>또 탈퇴
        요청이 있을 경우 최장</span> 10<span lang=ZH-CN>일 이내에 탈퇴 처리와 함께 모든 개인 정보를 파기합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>회사의 개인정보 파기절차 및 방법은 다음과 같습니다</span><span style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>가</span><span style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>. <span lang=ZH-CN>파기절차</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>- <span
        lang=ZH-CN>이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의</span> DB<span lang=ZH-CN>로 옮겨져</span>(<span
        lang=ZH-CN>종이의 경우 별도의 서류함</span>) <span lang=ZH-CN>내부 방침 및 기타 관련 법령에 의한 정보보호 사유에
        따라</span>(<span lang=ZH-CN>보유 및 이용기간 참조</span>) <span lang=ZH-CN>일정 기간 저장된 후 파기됩니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>- <span
        lang=ZH-CN>동 개인정보는 법률에 의한 경우가 아니고서는 보유되는 이외의 다른 목적으로 이용되지 않습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>나</span><span style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>. <span lang=ZH-CN>파기방법</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>- <span
        lang=ZH-CN>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>- <span
        lang=ZH-CN>전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>7. <span
        lang=ZH-CN>이용자 및 법정대리인의 권리와 그 행사방법</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>가</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>이용자 및 법정대리인은 언제든지
        등록되어 있는 자신 혹은 당해 미성년자의 정보를 열람</span>, <span lang=ZH-CN>공개 및 비공개 처리</span>, <span
        lang=ZH-CN>수정</span>, <span lang=ZH-CN>삭제할 수 있습니다</span>. <span lang=ZH-CN>이용자 및
        법정대리인은 개인정보 조회</span>/<span lang=ZH-CN>수정</span>/<span lang=ZH-CN>가입해지</span>(<span
        lang=ZH-CN>동의철회</span>)<span lang=ZH-CN>를</span> '<span lang=ZH-CN>회원정보관리</span>'<span
        lang=ZH-CN>를 통해 처리가 가능하며</span>, <span lang=ZH-CN>개인정보 처리부서에 이메일로 연락하시는 경우에는 본인
        확인 절차를 거친 후 조치하겠습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>나</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>이용자가 개인정보의 오류에
        대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다</span>. <span
        lang=ZH-CN>또한 잘못된 개인정보를 제</span>3<span lang=ZH-CN>자에게 이미 제공한 경우에는 정정 처리결과를 제</span>3<span
        lang=ZH-CN>자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>다</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. &quot;<span lang=ZH-CN>회사</span>&quot;<span
        lang=ZH-CN>는 이용자 요청에 의해 해지 또는 삭제된 개인정보는</span> '5. <span lang=ZH-CN>개인정보의 보유 및 이용기간</span>'<span
        lang=ZH-CN>에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>8. <span
        lang=ZH-CN>개인정보 자동 수집 장치의 설치</span>/<span lang=ZH-CN>운영 및 거부에 관한 사항</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사는 개인화되고
        맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는</span><span style='font-family:"Malgun Gothic",sans-serif'>
        '<span lang=ZH-CN>쿠키</span>(cookie)'<span lang=ZH-CN>를 사용합니다</span>. <span
        lang=ZH-CN>쿠키는 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에게 보내는 아주 작은 텍스트 파일로 이용자 컴퓨터의 하드디스크에
        저장됩니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>가</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>쿠키의 사용 목적</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>이용자들이
        방문한 회사의 각 서비스와 웹 사이트들에 대한 방문 및 이용형태</span><span style='font-family:"Malgun Gothic",sans-serif'>,
        <span lang=ZH-CN>인기 검색어</span>, <span lang=ZH-CN>보안접속 여부</span>, <span
        lang=ZH-CN>뉴스편집</span>, <span lang=ZH-CN>이용자 규모 등을 파악하여 이용자에게 최적화된 정보 제공을 위하여 사용합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>나</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>쿠키의 설치</span>/<span
        lang=ZH-CN>운영 및 거부</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다</span>. <span lang=ZH-CN>따라서 이용자는 웹브라우저에서
        옵션을 설정함으로써 모든 쿠키를 허용하거나</span>, <span lang=ZH-CN>쿠키가 저장될 때마다 확인을 거치거나</span>, <span
        lang=ZH-CN>아니면 모든 쿠키의 저장을 거부할 수도 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>다만</span>, <span lang=ZH-CN>쿠키의 저장을 거부할 경우에는 로그인이 필요한 회사 일부 서비스는 이용에
        어려움이 있을 수 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>- <span
        lang=ZH-CN>쿠키 설치 허용 여부를 지정하는 방법</span>(Internet Explorer<span lang=ZH-CN>의 경우</span>)</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Arial Unicode MS",serif'>①</span><span
        style='font-family:"Malgun Gothic",sans-serif'> [<span lang=ZH-CN>도구</span>] <span
        lang=ZH-CN>메뉴에서</span> [<span lang=ZH-CN>인터넷 옵션</span>]<span lang=ZH-CN>을 선택합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Arial Unicode MS",serif'>②</span><span
        style='font-family:"Malgun Gothic",sans-serif'> [<span lang=ZH-CN>개인정보 탭</span>]<span
        lang=ZH-CN>을 클릭합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Arial Unicode MS",serif'>③</span><span
        style='font-family:"Malgun Gothic",sans-serif'> [<span lang=ZH-CN>개인정보취급 수준</span>]<span
        lang=ZH-CN>을 설정하시면 됩니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>9. <span
        lang=ZH-CN>개인정보의 기술적</span>/<span lang=ZH-CN>관리적 보호 대책</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사는 이용자들의
        개인정보를 취급함에 있어 개인정보가 분실</span><span style='font-family:"Malgun Gothic",sans-serif'>,
        <span lang=ZH-CN>도난</span>, <span lang=ZH-CN>누출</span>, <span lang=ZH-CN>변조 또는 훼손되지
        않도록 안전성 확보를 위하여 다음과 같은 기술적</span>/<span lang=ZH-CN>관리적 대책을 강구하고 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>가</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>비밀번호 암호화</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사 회원
        아이디</span><span style='font-family:"Malgun Gothic",sans-serif'>(ID)<span
        lang=ZH-CN>의 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며</span>, <span lang=ZH-CN>개인정보의
        확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>나</span><span style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>. <span lang=ZH-CN>해킹 등에 대비한 대책</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>회사는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다</span><span
        style='font-family:"Malgun Gothic",sans-serif;color:blue'>. </span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>개인정보의 훼손에 대비해서 자료를 수시로 백업하고</span><span style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>, <span lang=ZH-CN>암호화통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다</span>.
        </span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;color:blue'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif;
        color:blue'>그리고 기타 시스템적으로 보안성을 확보하기 위한 가능한 기술적 장치를 갖추려 노력하고 있습니다</span><span
        style='font-family:"Malgun Gothic",sans-serif;color:blue'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>다</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. <span lang=ZH-CN>취급 직원의 최소화 및 교육</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사의 개인정보관련
        취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 비밀번호를 부여하여 정기적으로 갱신하고 있으며</span><span
        style='font-family:"Malgun Gothic",sans-serif'>, <span lang=ZH-CN>담당자에 대한 수시 교육을
        통하여 회사 개인정보처리방침의 준수를 항상 강조하고 있습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>단</span><span
        style='font-family:"Malgun Gothic",sans-serif'>, <span lang=ZH-CN>이용자 본인의 부주의나 인터넷상의
        문제로</span> ID, <span lang=ZH-CN>비밀번호 등 개인정보가 유출되어 발생한 문제에 대해 회사는 일체의 책임을 지지 않습니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>10. <span
        lang=ZH-CN>개인정보관리책임자 및 담당자의 연락처</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>귀하께서는
        회사의 서비스를 이용하시며 발생하는 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 문의하실 수 있습니다</span><span
        style='font-family:"Malgun Gothic",sans-serif'>. </span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사는 이용자들의
        신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다</span><span style='font-family:"Malgun Gothic",sans-serif'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Arial Unicode MS",serif'>▶</span><span
        style='font-family:"Malgun Gothic",sans-serif'> <span lang=ZH-CN>개인정보 관리책임자</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>성명</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: <span lang=ZH-CN>나용선</span>(<span
        lang=ZH-CN>대표이사</span>)</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>연락처</span><span
        style='font-family:"Malgun Gothic",sans-serif'>: service@autoingroup.com</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>기타 개인정보침해에
        대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다</span><span style='font-family:"Malgun Gothic",sans-serif'>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
         style='border-collapse:collapse;border:none'>
         <tr style='height:24.1pt'>
          <td width=209 style='width:156.8pt;border:solid black 1.0pt;padding:1.4pt 5.1pt 1.4pt 5.1pt;
          height:24.1pt'>
          <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>개인정보침해신고센터</span></p>
          </td>
          <td width=350 style='width:262.7pt;border:solid black 1.0pt;border-left:none;
          padding:1.4pt 5.1pt 1.4pt 5.1pt;height:24.1pt'>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>http://privacy.kisa.or.kr/
          <span lang=ZH-CN>국번없이</span> 118</span></p>
          </td>
         </tr>
         <tr style='height:24.1pt'>
          <td width=209 style='width:156.8pt;border:solid black 1.0pt;border-top:none;
          padding:1.4pt 5.1pt 1.4pt 5.1pt;height:24.1pt'>
          <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>대검찰청
          사이버수사과</span></p>
          </td>
          <td width=350 style='width:262.7pt;border-top:none;border-left:none;
          border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:1.4pt 5.1pt 1.4pt 5.1pt;
          height:24.1pt'>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>http://www.spo.go.kr/
          <span lang=ZH-CN>국번없이</span> 1301</span></p>
          </td>
         </tr>
         <tr style='height:24.1pt'>
          <td width=209 style='width:156.8pt;border:solid black 1.0pt;border-top:none;
          padding:1.4pt 5.1pt 1.4pt 5.1pt;height:24.1pt'>
          <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>경찰청
          사이버안전국</span></p>
          </td>
          <td width=350 style='width:262.7pt;border-top:none;border-left:none;
          border-bottom:solid black 1.0pt;border-right:solid black 1.0pt;padding:1.4pt 5.1pt 1.4pt 5.1pt;
          height:24.1pt'>
          <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>http://www.police.go.kr/
          <span lang=ZH-CN>국번없이</span> 182</span></p>
          </td>
         </tr>
        </table>
        
        <p class=MsoNormal><span style='font-size:1.0pt'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>11. <span
        lang=ZH-CN>기타</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>회사에 링크되어
        있는 웹사이트들이 개인정보를 수집하는 행위에 대해서는 본</span><span style='font-family:"Malgun Gothic",sans-serif'>
        &quot;<span lang=ZH-CN>회사 개인정보처리방침</span>&quot;<span lang=ZH-CN>이 적용되지 않음을 알려 드립니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><b><span style='font-family:"Malgun Gothic",sans-serif'>12. <span
        lang=ZH-CN>고지의 의무</span></span></b></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span lang=ZH-CN style='font-family:"Malgun Gothic",sans-serif'>현 개인정보처리방침
        내용 추가</span><span style='font-family:"Malgun Gothic",sans-serif'>, <span
        lang=ZH-CN>삭제 및 수정이 있을 시에는 지체 없이 홈페이지의</span> '<span lang=ZH-CN>공지사항</span>'<span
        lang=ZH-CN>을 통해 고지할 것입니다</span>.</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;'>- <span
        lang=ZH-CN>공고일</span>: 2023<span lang=ZH-CN>년</span> 1<span lang=ZH-CN>월</span>
        1<span lang=ZH-CN>일</span></span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;'>&nbsp;</span></p>
        
        <p class=a><span style='font-family:"Malgun Gothic",sans-serif;'>- <span
        lang=ZH-CN>시행일</span>: 2023<span lang=ZH-CN>년</span> 1<span lang=ZH-CN>월</span>
        1<span lang=ZH-CN>일</span></span></p>
        
        </div>
    </div>
    <footer><%- include('../partial/footer') %></footer>
</body>
</html>