<!DOCTYPE html>
<html lang="<%= __('locale') %>">
  <head>
    <meta charset="UTF-8" />
    <%- include('../head') %>
    <link rel="stylesheet" href="/css/signin.css" />
    <title>이용약관</title>
  </head>

  <body>
    <header><%- include('../partial/navbar') %></header>
    <div class="inner">
    </div>
    <footer><%- include('../partial/footer') %></footer>
</body>
</html>