<!DOCTYPE html>
<html lang="<%= __('locale') %>">
    <head>
        <meta charset="UTF-8" />
        <%- include('head') %>
        <link href="/dist/output.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/mypage.css" />
        <title>Document</title>
    </head>
    <body>


        <footer><%- include('partial/footer') %></footer>
    </body>
</html>